/*** omvendt hover effekts ***/
header ul li a {
  text-decoration: none;
  color: var(--d_brown);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
header ul li a:hover {
  color: var(--cream);
}

/*Logo* jeg fik lidt hjælp fra chatgpt til at få hover til at virke*/
.logo {
  margin-right: auto;
  position: absolute;
  top: 0;
  left: 10px;
  width: 60px;
}

.logo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  transition: opacity 0.3s ease;
}

.logo .base-image {
  opacity: 0;
}

.logo .hover-image {
  opacity: 1;
}

.logo:hover .base-image {
  opacity: 1;
}

.logo:hover .hover-image {
  opacity: 0;
}

/**** Burger menu *****/
.burger-menu span {
  display: block;
  height: 3px;
  background-color: var(--d_brown);
  border-radius: 2px;
  transition: 0.3s;
}

.burger-menu:hover span {
  background-color: var(--cream);
}

/***************************************************************************/
main {
  margin-top: 7rem;
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.billede_1_kontakt {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
}

.container2 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 3rem;
}

.h2_kontakt {
  margin-bottom: 0.5rem;
}

/****** skærm størrelser ****/
@media (min-width: 650px) {
  .grid1_kontakt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-inline: 1.5rem;
  }
}

@media (min-width: 850px) {
  .grid1_kontakt {
    margin-inline: 2.5rem;
  }
}

@media (min-width: 1000px) {
  .grid1_kontakt {
    margin-inline: 7rem;
  }
  .container2 {
    margin-top: 0.5rem;
  }
}
