/*** omvendt hover effekts ***/
header ul li a {
  text-decoration: none;
  color: var(--d_brown);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
header ul li a:hover {
  color: var(--cream);
}

/*Logo* jeg fik lidt hjælp fra chatgpt til at få hover til at virke*/
.logo {
  margin-right: auto;
  position: absolute;
  top: 0;
  left: 10px;
  width: 60px;
}

.logo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  transition: opacity 0.3s ease;
}

.logo .base-image {
  opacity: 0;
}

.logo .hover-image {
  opacity: 1;
}

.logo:hover .base-image {
  opacity: 1;
}

.logo:hover .hover-image {
  opacity: 0;
}

/**** Burger menu *****/
.burger-menu span {
  display: block;
  height: 3px;
  background-color: var(--d_brown);
  border-radius: 2px;
  transition: 0.3s;
}

.burger-menu:hover span {
  background-color: var(--cream);
}

/***************************************************************************/

.header_r {
  padding: 2rem;
}

.risteriet_main {
  padding-top: 2rem;
  margin-bottom: 5rem;
}

.billede_v {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem;
}
.kaffe_tekst_h {
  margin-left: 1rem;
  padding-top: 1rem;
}

.billede_h {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem;
}
.kaffe_tekst_v {
  margin-right: 1rem;
  padding-top: 1rem;
}

/***knap****/
/*skjuler de ændre pånær step 1 som er aktiv* fik lidt hjælp fra chatgpt, især til JS, så knappen er funktionel og klikbar*/
.step-container {
  display: none;
  justify-content: center; /**  skal ændres til end i desktop**/
  padding-bottom: 1rem;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 0;
}

.step-container.active {
  display: block;
  justify-content: center; /**  skal ændres til end i desktop**/
  padding-bottom: 1rem;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 0;
}

/*style*/
.knap-pil {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 0;
}

.knap-pil button {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-size: 2rem;
  font-style: normal;
  color: var(--cream);
  background-color: var(--navy_blue);
  text-align: center;
  padding: 0.5rem;
  cursor: pointer;
}
/*hover*/
.knap-pil button:hover {
  background-color: var(--cream);
  color: var(--navy_blue);
  transition: color 1s;
}

/******  Desktop  *******/
@media (min-width: 801px) {
  .img_size {
    height: 85%;
    width: 60%;
  }

  .risteriet {
    padding-top: 10rem;
    margin-bottom: 15rem;
  }
  .kaffe_tekst_h {
    margin-left: 1rem;
    padding-top: 5rem;
  }
  .kaffe_tekst_v {
    margin-left: 1rem;
    padding-top: 5rem;
  }

  .knap-pil {
    justify-content: flex-end; /*flytter knap til højre*/
  }
}
